<hr>
<div class="container">
  <h1 style="font-size: 40pt;text-align: center;color: black"><b>Product Details</b></h1>
    
    <div class="row" >
          <div class="col-sm-4"></div>
          <div class="input-group col-sm-4">
                <input type="text" class="form-control" id="searchTextId" name="searchText" placeholder="Search By Name">
                <span class="input-group-addon"><i class="fas fa-search"></i></span>
          </div>
    </div>
      <hr>

      <div class="row">
            <div class="col-sm">
            <table class="table table-hover table-striped table-condensed  table-sm" id="mytable">
                  <thead class="">
                  <tr style="background-color: #85B3E9">
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Quantity</th>
                    <th>Weight</th>
                    <th>Price (Rs)</th>  
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor = "let item of ItemList">
                      <td>{{item.product_id}}</td>
                      <td>{{item.product_name}}</td>
                      <td>{{item.category}}</td>
                      <td>{{item.date}}</td>
                      <td>{{item.quantity}}</td>
                      <td>{{item.weight}}</td>
                      <td>{{item.price}}</td>
                      <td>tyuii</td>
                      
                      
          
                        <button class='btn btn-danger' (click)=" deleteItems(item._id)">
                        <i class='fa fa-trash fa-lg'></i>Delete
                        </button>
          
                        <button class='btn btn-success' id="mybutton" (click)="openEditModal(template1)" (click)="showEditForm(item)">
                        <i class="fas fa-align-justify" ></i>View
                        </button>
                     
          
                    </tr>
                  </tbody>

            </table>
            
            <button class='btn btn-success' id="mybutton" (click)="openModal(template)"><i class='fa fa-plus-square fa-lg'></i></button>

           
            </div>
      </div>
      
</div>





<ng-template #template>
  <div style="width: 1200px;margin-left: -199px;">
  <div class="row">
    <div class="modal-header col-sm">
      <div class="col-sm-2" >
      </div>
      <div class="col-sm-8">
          <h4 class="modal-title pull-center" id="myModalLabel"><br><i class="fas fa-plus-square fa-3x"></i><label id="modId"> Add New Customer Details</label></h4>
      </div>
      <div class="col-sm-2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fas fa-window-close fa-2x"></i>
        </button>
      </div>

    </div>
  </div>
      <!--modal body-->
      <div class="row" >
      <div class="modal-body" >
            <form #itemForm = "ngForm" (ngSubmit) = "addItem(itemForm)" *ngIf="!toggleForm"  class="form-horizontal">
                  <input type="hidden" name="_id">

                  <div class="form-group row">
                        <label class="col-sm-3 control-label" style="margin-left: -120px">Custome Id :</label>
                        <div class="col-sm-9">
                              <input class="form-control" type="text" name="customer_id" ngModel required>
                        </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Customer Name :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="text" name="customer_name" ngModel required>
                    </div>
                  </div>
                 
                  <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Mobile :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="text" name="mobile" ngModel>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Address :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="text" name="address" ngModel>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Email Addess :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="text" name="email_address" ngModel>
                    </div>
                   </div>
                 
                  
              
                
                  <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                              
                              
                              <button type="button" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal">Reset</button>
                        </div>
                  </div>
                  
                 

            <div class="row">
              <div class="modal-header col-sm">
                <div class="col-sm-2" >
                </div>
                <div class="col-sm-8">
                    <h4 class="modal-title pull-center" id="myModalLabel"><br><i class="fas fa-plus-square fa-3x"></i><label id="modId"> Add New Product Details</label></h4>
                </div>
                <div class="col-sm-2">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="fas fa-window-close fa-2x"></i>
                  </button>
                </div>
          
              </div>
            </div>
            

            <div class="container">
    
              
                <hr>
          
                <div class="row">
                      <div class="col-sm">
                          <div class="form-group row">
                              <label class="col-sm-3 control-label">Date:</label>
                              <div class="col-sm-9">
                                    <input style="width: 230px" class="form-control" type="date" name="date" ngModel value="">
                              </div>
                          </div>
                      <table class="table table-hover table-striped table-condensed  table-sm" id="mytable">
                            <thead class="">
                            <tr style="background-color: #85B3E9">
                              <th>Product Id</th>
                              <th>Product Name</th>
                              <th>Category</th>
                              <th>Quantity (kg)</th>
                              <th>Weight In Kg</th>
                              <th>Price (Rs)</th>  
                              
                             
                            </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="text" name="product_id" ngModel></td>
                                <td><input type="text" name="product_name" ngModel></td>
                                <td> 
                                      <select class="form-control" type="text" id="category" name="category" ngModel>
                                          <option>Rice</option>
                                          <option>Vegitable</option>
                                          <option>Fruite</option>
                                      </select>
                                </td>
                                <td><input type="text" name="quantity" ngModel></td>
                                <td><input type="text" name="weight" ngModel></td>
                                <td><input type="text" name="price" ngModel></td>
                                <td><button type="button" class="btn btn-primary">Add</button></td>
                                
                               
                    
                              </tr>
                            </tbody>
          
                      </table>
                      <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                      <button type="submit" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal" (click)="modalRef.hide()">Cancel</button>&nbsp;
                      <button type="button" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal">Reset</button>
                      
          
                     
                      </div>
                </div>
                
          </div>



            </form>
      </div>
    </div>
    </div>
  
</ng-template>








<ng-template #template1>
    <div style="width: 1200px;margin-left: -199px">
    <div class="row">
      <div class="modal-header col-sm">
        <div class="col-sm-2" >
        </div>
        <div class="col-sm-8">
            <h4 class="modal-title pull-center" id="myModalLabel"><br><i class="fas fa-plus-square fa-3x"></i><label id="modId"> Edit Product Details</label></h4>
        </div>
        <div class="col-sm-2">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-window-close fa-2x"></i>
          </button>
        </div>
  
      </div>
    </div>
        <!--modal body-->
        <div class="row" >
        <div class="modal-body" >
            
              <form #updateForm = "ngForm" (ngSubmit) = "updateItem(updateForm)" class="form-horizontal" >
                    <input type="hidden" name="_id">
  
                    <div class="form-group row">
                          <label class="col-sm-3 control-label" style="margin-left: -120px">Product Id :</label>
                          <div class="col-sm-9">
                                <input class="form-control" type="text" name="product_id"  [ngModel]="selectedItem.product_id" required>
                          </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Product Name :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="product_name"  [ngModel]="selectedItem.product_name" required>
                      </div>
                    </div>
                   
                    <div class="form-group row">
                        <label class="col-sm-3 control-label" style="margin-left: -120px">Category:</label>
                        <div class="col-sm-9">
                                    <select class="form-control" type="text" id="category" name="category" [ngModel]="selectedItem.category">
                                          <option>Rice</option>
                                          <option>Vegitable</option>
                                          <option>Fruite</option>
                                    </select>
                        </div>
                  </div>
                  <div class="form-group row">
                        <label class="col-sm-3 control-label" style="margin-left: -120px">Date :</label>
                        <div class="col-sm-9">
                              <input class="form-control" type="date" name="date" [ngModel]="selectedItem.date">
                        </div>
                      </div>
                    <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Quantity :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="quantity" [ngModel]="selectedItem.quantity">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Weight :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="weight" [ngModel]="selectedItem.weight">
                      </div>
                     </div>

                     <div class="form-group row">
                        <label class="col-sm-3 control-label" style="margin-left: -120px">Price :</label>
                        <div class="col-sm-9">
                              <input class="form-control" type="text" name="price" [ngModel]="selectedItem.price">
                        </div>
                     </div>
                     
                   
                    
                
                  
                    <div class="form-group">
                          <div class="col-sm-offset-3 col-sm-9">
                                
                              <button type="submit" class="btn btn-primary" (click)="modalRef.hide()">Submit</button>&nbsp;  
                              <button type="submit" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal" (click)="modalRef.hide()">Cancel</button>&nbsp;
                              <button type="button" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal">Reset</button>
                              
                  
                          </div>
                    </div>
                    
                   
  
              
              
  
  
  
  
              </form>
        </div>
      </div>
      </div>
    
  </ng-template>
  
