<hr>

<div class="container">
    <h1 style="font-size: 40pt;text-align: center;color: black"><b>Customer Details</b></h1>
    
    <div class="row">
          <div class="col-sm-4"></div>
          <div class="input-group col-sm-4">
                <input type="text" class="form-control" id="searchTextId" name="searchText" placeholder="Search By Name">
                <span class="input-group-addon"><i class="fas fa-search"></i></span>
          </div>
    </div>
      <hr>

      <div class="row">
            <div class="col-sm">
            <table class="table table-hover table-striped table-condensed  table-sm" id="mytable">
                  <thead class="">
                  <tr style="background-color: #85B3E9">
                    <th>Product Id</th>
                    <th>Customer Id</th>
                    <th>Customer Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Email Addess</th>  
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor = "let customer of CustomerList">
                        <td>5</td>
                        <td>{{customer.customer_id}}</td>
                        <td>{{customer.customer_name}}</td>
                        <td>{{customer.mobile}}</td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.email_address}}</td>
                      
                      
          
                        <button class='btn btn-danger' (click)=" onAllerDeletet(customer._id)">
                        <i class='fa fa-trash fa-lg'></i>Delete
                        </button>
          
                        <button class='btn btn-success' (click)="showEditCustomer(customer)" (click)="openEditModal(template1)">
                        <i class="fas fa-align-justify"></i>View
                        </button>
                     
          
                    </tr>
                  </tbody>

            </table>
            
            

           
            </div>
      </div>
      
</div>


<ng-template #template1>
    <div style="width: 1200px;margin-left: -199px">
    <div class="row">
      <div class="modal-header col-sm">
        <div class="col-sm-2" >
        </div>
        <div class="col-sm-8">
            <h4 class="modal-title pull-center" id="myModalLabel"><br><i class="fas fa-plus-square fa-3x"></i><label id="modId"> Edit Product Details</label></h4>
        </div>
        <div class="col-sm-2">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-window-close fa-2x"></i>
          </button>
        </div>
  
      </div>
    </div>
        <!--modal body-->
        <div class="row" >
        <div class="modal-body" >
            
              <form #UpdateForm = "ngForm" (ngSubmit) = "updateCustomer(UpdateForm)" class="form-horizontal" >
                    <input type="hidden" name="_id">
  
                    <div class="form-group row">
                          <label class="col-sm-3 control-label" style="margin-left: -120px">Customer Id :</label>
                          <div class="col-sm-9">
                                <input class="form-control" type="text" name="customer_id" [ngModel]="selectedCustomer.customer_id" #customer_id="ngModel" required>
                          </div>
                    </div>
                    <div *ngIf="customer_id?.touched">
                              <div *ngIf="customer_id.errors?.required" class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Customer_id is Required!
                              </div>
                        </div>
                    <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Customer Name :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="customer_name" [ngModel]="selectedCustomer.customer_name" #customer_name="ngModel" required pattern="[a-zA-Z][a-zA-Z]+">
                      </div>
                    </div>
                    <div *ngIf="customer_name?.touched">
                              <div *ngIf="customer_name.errors?.required" class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Customer Name is Required!
                              </div>
                              <div *ngIf="customer_name.errors?.pattern" class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Invalid Customer name!
                              </div>
                  </div>
                   
                   
                    <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Mobile :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="mobile" [ngModel]="selectedCustomer.mobile" #mobile="ngModel" required maxlength="10" minlength="10" pattern="[0-9]*">
                      </div>
                    </div>
                    <div *ngIf="mobile?.touched">
                              <div *ngIf="mobile.errors?.required" class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Mobile No is Required!
                              </div>
                              <div *ngIf="mobile.errors?.pattern || mobile.errors?.minlength"  class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Invalid Mobile No!
                              </div>
                  </div>

                    <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Address :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="address" [ngModel]="selectedCustomer.address" #address="ngModel" required>
                      </div>
                  
                  </div>
                  <div *ngIf="address?.touched">
                              <div *ngIf="address.errors?.required" class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Address is Required!
                              </div>
                  </div>

                     <div class="form-group row">
                        <label class="col-sm-3 control-label" style="margin-left: -120px">Email Address :</label>
                        <div class="col-sm-9">
                              <input class="form-control" type="text"name="email_address" [ngModel]="selectedCustomer.email_address" #email_address="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        </div>
                     </div>
                     <div *ngIf="email_address?.touched">
                              <div *ngIf="email_address.errors?.required" class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Email Address is Required!
                              </div>
                              <div *ngIf="email_address.errors?.pattern" class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Invalid Email Address!
                              </div>
                  </div>
                     
                   
                    
                
                  
                    <div class="form-group">
                          <div class="col-sm-offset-3 col-sm-9">
                                
                              <button type="submit" class="btn btn-primary" [disabled]="UpdateForm.invalid">Submit</button>&nbsp;  
                              <button type="submit" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal" (click)="modalRef.hide()">Cancel</button>&nbsp;
                              <button type="button" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal">Reset</button>
                              
                  
                          </div>
                    </div>
                    
                   
  
              
              
  
  
  
  
              </form>
        </div>
      </div>
      </div>
    
  </ng-template>
  

