<hr>

<div class="container">
    <h1 style="font-size: 40pt;text-align: center;color: black"><b>Customer Details</b></h1>
    
    <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" class="form-control" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Search By Name">
                <span class="input-group-addon"><i class="fas fa-search fa-lg"></i></span>
              </div>
            </div>
           
          </div>
      <hr>

      <div class="row margintop20px paddingtopbottom15px whitebackground">
            <div class="col-sm">
            <table class="table table-hover table-striped table-condensed  table-sm" id="mytable" [mfData]="CustomerList" #mf="mfDataTable" [mfRowsOnPage]="10">
                  <thead class="">
                  <tr>
                  <th style="width:10px;max-width:10px;">#</th>    
                    
                    <th><mfDefaultSorter by="customer_id">Customer Id</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="customer_name">Customer Name</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="mobile">Phone</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="address">Address</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="email_address">Email Address</mfDefaultSorter></th>  
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor = "let customer of mf.data | customerFilter:searchText;let i = index">
                        <td scope="row">{{i+1}}</td>
                        <td class="text-center">{{customer.customer_id}}</td>
                        <td class="text-center">{{customer.customer_name}}</td>
                        <td class="text-center">{{customer.mobile}}</td>
                        <td class="text-center">{{customer.address}}</td>
                        <td class="text-center">{{customer.email_address}}</td>
                      
                      
          
                        <button class='btn btn-danger' (click)=" onAllerDeletet(customer._id)">
                        <i class='fa fa-trash fa-lg'></i>Delete
                        </button>
          
                        <button class='btn btn-success' (click)="showEditCustomer(customer)" (click)="openEditModal(template1)">
                        <i class="fas fa-align-justify"></i>View
                        </button>
                     
          
                    </tr>
                  </tbody>
                  <tfoot>
                        <tr>
                              <td colspan="4">
                              <mfBootstrapPaginator ></mfBootstrapPaginator>
                              </td>
                        </tr>
                  </tfoot>

            </table>
            
            

           
            </div>
      </div>
      
</div>


<ng-template #template2>
    <div style="width: 1200px;margin-left: -199px">
    <div class="row">
      <div class="modal-header col-sm">
        <div class="col-sm-2" >
        </div>
        <div class="col-sm-8">
            <h4 class="modal-title pull-center" id="myModalLabel"><br><i class="fas fa-plus-square fa-3x"></i><label id="modId"> Edit Customer Details</label></h4>
        </div>
        <div class="col-sm-2">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-window-close fa-2x"></i>
          </button>
        </div>
  
      </div>
    </div>
        <!--modal body-->
        <div class="row" >
        <div class="modal-body" >
            
              <form #UpdateForm = "ngForm" (ngSubmit) = "updateCustomer(UpdateForm)" class="form-horizontal" >
                    <input type="hidden" name="_id">
  
                    <div class="form-group row">
                          <label class="col-sm-3 control-label" style="margin-left: -120px">Customer Id :</label>
                          <div class="col-sm-9">
                                <input class="form-control" type="text" name="customer_id" [ngModel]="selectedCustomer.customer_id" #customer_id="ngModel" required>
                          </div>
                    </div>
                    <div *ngIf="customer_id?.touched">
                              <div *ngIf="customer_id.errors?.required" class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Customer_id is Required!
                              </div>
                        </div>
                    <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Customer Name :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="customer_name" [ngModel]="selectedCustomer.customer_name" #customer_name="ngModel" required pattern="[a-zA-Z][a-zA-Z]+">
                      </div>
                    </div>
                    <div *ngIf="customer_name?.touched">
                              <div *ngIf="customer_name.errors?.required" class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Customer Name is Required!
                              </div>
                              <div *ngIf="customer_name.errors?.pattern" class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Invalid Customer name!
                              </div>
                  </div>
                   
                   
                    <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Mobile :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="mobile" [ngModel]="selectedCustomer.mobile" #mobile="ngModel" required maxlength="10" minlength="10" pattern="[0-9]*">
                      </div>
                    </div>
                    <div *ngIf="mobile?.touched">
                              <div *ngIf="mobile.errors?.required" class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Mobile No is Required!
                              </div>
                              <div *ngIf="mobile.errors?.pattern || mobile.errors?.minlength"  class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Invalid Mobile No!
                              </div>
                  </div>

                    <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Address :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="address" [ngModel]="selectedCustomer.address" #address="ngModel" required>
                      </div>
                  
                  </div>
                  <div *ngIf="address?.touched">
                              <div *ngIf="address.errors?.required" class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Address is Required!
                              </div>
                  </div>

                     <div class="form-group row">
                        <label class="col-sm-3 control-label" style="margin-left: -120px">Email Address :</label>
                        <div class="col-sm-9">
                              <input class="form-control" type="text"name="email_address" [ngModel]="selectedCustomer.email_address" #email_address="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        </div>
                     </div>
                     <div *ngIf="email_address?.touched">
                              <div *ngIf="email_address.errors?.required" class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Email Address is Required!
                              </div>
                              <div *ngIf="email_address.errors?.pattern" class="alert alert-danger" style="margin-left: 188px;width:890px;height: 45px;font-size: 12pt">
                                    Invalid Email Address!
                              </div>
                  </div>
                     
                   
                    
                
                  
                    <div class="form-group">
                          <div class="col-sm-offset-3 col-sm-9">
                                
                              <button type="submit" class="btn btn-primary" [disabled]="UpdateForm.invalid">Submit</button>&nbsp;  
                              <button type="submit" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal" (click)="modalRef.hide()">Cancel</button>&nbsp;
                              <button type="button" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal">Reset</button>
                              
                  
                          </div>
                    </div>
                    
                   
  
              
              
  
  
  
  
              </form>
        </div>
      </div>
      </div>
    
  </ng-template>






  <ng-template #template1>
      <div class="row">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title pull-center" id="myModalLabel"><label id="modId"> Add New Customer</label></h4>
        </div>
      </div>
          <!--modal body-->
        <div class="row">
          <div class="modal-body">
            <form #UpdateForm = "ngForm" (ngSubmit) = "updateCustomer(UpdateForm)" class="form-horizontal" >
                  <input type="hidden" name="_id">    
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label> Customer Name:<span style="color: red; font-size: 15px;">*</span></label>
                    <div>
                      <input class="form-control" type="text" name="customer_name"  [ngModel]="selectedCustomer.customer_name" required #customer_name="ngModel" pattern="[a-zA-Z][a-zA-Z]+"><br>
                       
                      <div *ngIf="customer_name?.touched">
                        <div *ngIf="customer_name.errors?.required" class="alert alert-danger" style="font-size: 12pt">
                              Customer Name is Required!
                        </div>
                        <div *ngIf="customer_name.errors?.pattern" class="alert alert-danger" style="font-size: 12pt">
                              Invalid Customer Name!
                        </div>
                        
                       </div>
                    </div>
  
                   
                  </div>
                 
                  
                  <div class="col-sm-6">
                    <label>Customer Id:<span style="color: red">*</span></label>
                    <div>
                      <input class="form-control" type="text" name="customer_id"  [ngModel]="selectedCustomer.customer_id" required #customer_id="ngModel"><br>
                        
                      <div *ngIf="customer_id?.touched">
                        <div *ngIf="customer_id.errors?.required" class="alert alert-danger" style="font-size: 12pt">
                              Customer Id is Required!
                        </div>
              </div>
                    </div>
                  </div>
                 
                </div>

                <hr>
                
                 
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label> Phone:<span style="color: red; font-size: 15px;">*</span></label>
                    <div>
                      <input class="form-control" type="text" name="mobile"  [ngModel]="selectedCustomer.mobile" required #mobile="ngModel" pattern="[0-9]*" maxlength="10" minlength="10"><br>
                       
                      <div *ngIf="mobile?.touched">
                        <div *ngIf="mobile.errors?.required" class="alert alert-danger" style="font-size: 12pt">
                              Phone no is Required!
                        </div>
                        <div *ngIf="mobile.errors?.pattern || mobile.errors?.minlength" class="alert alert-danger" style="font-size: 12pt">
                              Invalid phone no!
                        </div>
                        
                       </div>
                    </div>
  
                   
                  </div>
                 
                  
                  <div class="col-sm-6">
                    <label>Address:<span style="color: red">*</span></label>
                    <div>
                      <input class="form-control" type="text" name="address"  [ngModel]="selectedCustomer.address" required #address="ngModel"><br>
                        
                      <div *ngIf="address?.touched">
                        <div *ngIf="address.errors?.required" class="alert alert-danger" style="font-size: 12pt">
                              Address is Required!
                        </div>
              </div>
                    </div>
                  </div>
                 
                </div>
  
                <hr>
  
                <div class="form-group row">
                    <div class="col-sm-5">
                      <label>Email Address:</label>
                      <div>
                          <input class="form-control" type="email" name="email_address" [ngModel]="selectedCustomer.email_address" required #email_address="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"><br>
                          <div *ngIf="email_address?.touched">
                            <div *ngIf="email_address.errors?.required" class="alert alert-danger" style="font-size: 12pt">
                                  Email Address is Required!
                            </div>
                            <div *ngIf="email_address.errors?.pattern" class="alert alert-danger" style="font-size: 12pt">
                                  Invalid Email Address!
                            </div>
                       </div>
                        </div>
                    </div>
                    </div>
                   
                   
                     
                  
                  <hr>
                 
                
                <div class="form-group row">
                  <div class="col-sm-4">
                    <button type="submit" class="btn btn-success" id="newItemSaveBtn">Save Item</button>
                  </div>
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal" (click)="modalRef.hide()">Cancel</button>
                    <button type="button" class="btn btn-warning" id="resetbutton" data-toggle="modal" data-target="#myModal" >Reset</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
    </ng-template>
  

