<hr>

<div class="container">
  <h1 style="font-size: 40pt;text-align: center;color: black"><b>Sales Invoice Details</b></h1>
    
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Search By Name">
          <span class="input-group-addon"><i class="fas fa-search fa-lg"></i></span>
        </div>
      </div>
     
    </div>
      <hr>

      <div class="row margintop20px paddingtopbottom15px whitebackground">
            <div class="col-sm">
            <table class="table table-hover table-striped table-condensed  table-sm" id="mytable" [mfData]="InvoiceList" #mf="mfDataTable" [mfRowsOnPage]="10">
                  <thead class="">
                  <tr style="background-color: #85B3E9">
                      <th style="width:10px;max-width:10px;">#</th>    
                    <th style="font-size: 12pt"><mfDefaultSorter by="com_name">Company Name</mfDefaultSorter></th>
                    <th style="font-size: 12pt"><mfDefaultSorter by="com_address">Company Address</mfDefaultSorter></th>
                    <th style="font-size: 12pt"><mfDefaultSorter by="com_phone">Company Phone</mfDefaultSorter></th>
                    <th style="font-size: 12pt"><mfDefaultSorter by="fax_no">Fax</mfDefaultSorter></th>
                    <th style="font-size: 12pt"><mfDefaultSorter by="comments">Comment</mfDefaultSorter></th>
                    <th style="font-size: 12pt"><mfDefaultSorter by="invoice_no">Invoice No</mfDefaultSorter></th>
                    <th style="font-size: 12pt"><mfDefaultSorter by="date">Date</mfDefaultSorter></th> 
                    <th style="font-size: 12pt">Action</th>
                    
                   
                    
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor = "let invoice of mf.data;let i = index">
                        <td scope="row">{{i+1}}</td>
                      <td style="font-size: 11pt" class="text-center">{{invoice.com_name}}</td>
                      <td style="font-size: 11pt" class="text-center">{{invoice.com_address}}</td>
                      <td style="font-size: 11pt" class="text-center">{{invoice.com_phone}}</td>
                      <td style="font-size: 11pt" class="text-center">{{invoice.fax_no}}</td>
                      <td style="font-size: 11pt" class="text-center">{{invoice.comments}}</td>
                      <td style="font-size: 11pt" class="text-center">{{invoice.invoice_no}}</td>
                      <td style="font-size: 11pt" class="text-center">{{invoice.date}}</td>
                      
                     
                      
                      
          
                        <button class='btn btn-danger' (click)="onAllerDeletet(invoice._id)">
                        <i class='fa fa-trash fa-lg'></i>Delete
                        </button>
          
                       
                     
          
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="4">
                        <mfBootstrapPaginator ></mfBootstrapPaginator>
                      </td>
                    </tr>
                </tfoot>

            </table>
           
           
            </div>
      </div>
      
</div>
