<hr>
<div class="container-fluid">
  <div class="row" style="margin: auto">
    <div class="col-md-1"></div>
    <div class="col-md-3 col-sm-6 col-xs-12" style="text-align: center">
      <a [routerLink]="['stockupdate']">
        <div class="info-box" tooltip="to update stock click here">
          <span class="info-box-icon bg-yellow"><i class="fas fa-warehouse"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">STOCK UPDATE</span>
            <i class="fas fa-hand-point-right fa-4x"></i>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4"></div>

    <!--to create a stock issue document-->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <a [routerLink]="['stockIssue']">
        <div class="info-box" tooltip="to update stock click here">
          <span class="info-box-icon bg-yellow"><i class="fas fa-dolly-flatbed"></i></span>
          <div class="info-box-content">
            <i class="fas fa-hand-point-right fa-4x"></i>
            <span class="info-box-text">ISSUE STOCK</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)" style="text-align: center; font-size:25px;">{{ alert.msg }}</alert>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Search By Name">
        <span class="input-group-addon"><i class="fas fa-search fa-lg"></i></span>
      </div>
    </div>
    <div class="col-md-4">
      <button class='btn btn-outline-success' id="addNewItemBtn" (click)="openModal(template)">Add  <i class='fa fa-plus-square fa-lg'></i></button>
    </div>
  </div>

  <hr>

  <div class="row margintop20px paddingtopbottom15px whitebackground">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-hover " [mfData]="items" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th style="width:10px;max-width:10px;">#</th>
                <th><mfDefaultSorter by="itemCode">Item Code</mfDefaultSorter></th>
                <th><mfDefaultSorter by="itemname">Name</mfDefaultSorter></th>
                <th><mfDefaultSorter>Status</mfDefaultSorter></th>
                <th><mfDefaultSorter by="category">Category</mfDefaultSorter></th>
                <th><mfDefaultSorter by="unitScale">Unit</mfDefaultSorter></th>
                <th><mfDefaultSorter by="reOrderLevel">ReOrderLevel</mfDefaultSorter></th>
                <th><mfDefaultSorter by="quantity">Quantity</mfDefaultSorter></th>
                <th>Actions</th>
                <th>Issue</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor=" let item of mf.data | itemFilter:searchText; let i = index;" [style.border-color] = "item.quantity > item.reOrderLevel ? 'MediumSeaGreen' : 'salmon'">
                <td scope="row">{{i+1}}</td>
                <td>{{item.itemCode}}</td>
                <td style="font-weight: 800">{{item.itemname}}</td>
                <td><i class="fas fa-exclamation fa-lg" style="color: red" [style.display]="item.reOrderLevel > item.quantity ? '' : 'none'"></i><i class="fas fa-check fa-lg" style="color: green" [style.display]="item.reOrderLevel > item.quantity ? 'none' : ''"></i></td>
                <td>{{item.category}}</td>
                <td>{{item.unitScale}}</td>
                <td class="text-center" style="font-weight: 800; cursor: pointer;" (click)="onEditROLGetItem(item.itemCode) ;openSetROLModal(templateEditROL)">{{item.reOrderLevel}} <i class="fas fa-pencil-alt fa-sm" aria-hidden="true"></i>
                  <!--button type="button" class='btn btn-outline-info' id="editROLBtn" (click)="onEditROLGetItem(item.itemCode) ; openSetROLModal(templateEditROL)" tooltip="edit re-order level">
                  </button-->
                </td>
                <td class="text-center" style="font-weight: 800">{{item.quantity}}</td>
                <td>
                  <button type="button" class='btn btn-outline-info' id="editItemBtn" (click)="onEdit(item) ; openModal(template)" tooltip="edit">Edit
                  <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>

                  <button type="button" class='btn btn-outline-danger' id="deleteItemBtn" (click)="setDeleteItem(item._id);openConfirmDeleteModal(templateConfirmD)" tooltip="delete">Delete
                  <i class='fa fa-trash fa-sm'></i>
                  </button>

                  <button type="button" class='btn btn-outline-success' id="viewItemBtn" (click)="onView(item); openViewItemModal(templateViewItemModal)">
                  <i class="fas fa-align-justify"></i>
                  </button>
                </td>
                <td>
                  <button class='btn btn-outline-default' id="issueBtn" (click)="issueItem(item); openIssueModal(templateIssueItemModal)" tooltip="">
                    <i class="fa fa-cart-arrow-down fa-lg"></i>
                  </button>
                </td>
              </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <mfBootstrapPaginator ></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <button class='btn btn-outline-success' id="addNewItemBtn" (click)="openModal(template)">Add  <i class='fa fa-plus-square fa-lg'></i></button>
    <!-- Modal for the add Item-->
      <ng-template #template>
        <div class="row">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title pull-center" id="myModalLabel"><label id="modId"> Add New Item</label></h4>
          </div>
        </div>
            <!--modal body-->
          <div class="row">
            <div class="modal-body">
              <form class="form-horizontal" #itemDetailForm = "ngForm" (ngSubmit)="onSubmit(itemDetailForm)">
                  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="itemDetailService.selectedItem._id">

                  <div class="form-group row">
                    <div class="col-sm-6">
                      <label> Item Name:<span style="color: red; font-size: 15px;">*</span></label>
                      <div>
                        <input class="form-control" type="text" name="itemname" value="" id="name" #itemname="ngModel" [(ngModel)]="itemDetailService.selectedItem.itemname" placeholder="Item Name (ex:Potato)" required="required" autocomplete="off" autocapitalize="words">
                          <div *ngIf="itemname.invalid && (itemname.dirty || itemname.touched)" class="alert alert-danger">
                            <div  [hidden]="!name.errors.required"> Name is required</div>
                          </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label>Item Code:<span style="color: red">*</span></label>
                      <div>
                        <input class="form-control" type="text" name="itemCode" value="" id="itemcode" #itemCode="ngModel" [(ngModel)]="itemDetailService.selectedItem.itemCode" placeholder="Itme Code" required minlength="3" maxlength="3" autocomplete="off">
                          <div *ngIf="itemCode.invalid && (itemCode.dirty || itemCode.touched)" class="alert alert-danger">
                            <div  [hidden]="!itemCode.errors.required"> Item is required</div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <label>Category:</label>
                      <div>
                        <select class="form-control" type="text" id="category" name="category" #name="ngModel" [(ngModel)]="itemDetailService.selectedItem.category" placeholder="Item Category">
                          <option>Category</option>
                          <option>Rice</option>
                          <option>Vegetable</option>
                          <option>Fruit</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label>Quantity:</label>
                      <div>
                        <input class="form-control" type="text" name="quantity" value="" id="quantity" #name="ngModel" [(ngModel)]="itemDetailService.selectedItem.quantity" placeholder="Quantity Of Item" autocomplete="off">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label>UnitScale:</label>
                      <div>
                        <select class="form-control" type="text" name="unitScale" #name="ngModel" [(ngModel)]="itemDetailService.selectedItem.unitScale">
                          <option>kg</option>
                          <option>liter</option>
                          <option></option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <!--description of the new Item-->
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <label>Description:</label>
                      <div>
                        <input class="form-control" type="text" name="description" value="" id="descripiton" #name="ngModel" [(ngModel)]="itemDetailService.selectedItem.description" placeholder="More About New Item" autocomplete="off">
                      </div>
                    </div>
                  </div>

                  <hr>

                  <div class="form-group row">
                    <div class="col-sm-6">
                      <label>Latest Update Date:</label>
                      <div>
                        <input class="form-control" type="date" name="latestUpdate"  #latestUpdate="ngModel" [(ngModel)]="itemDetailService.selectedItem.latestUpdate">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label>UnitCost:</label>
                      <div>
                        <input class="form-control" type="text" name="unitCost" value="" id="unitCost" #name="ngModel" [(ngModel)]="itemDetailService.selectedItem.unitCost" placeholder="Unit Cost Of the Item" autocomplete="off">
                      </div>
                    </div>
                  </div>

                  <hr>

                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label>Minimum Level:</label>
                      <div>
                        <input class="form-control" type="text" name="minimumLevel" value="" id="minimumLevel" #name="ngModel" [(ngModel)]="itemDetailService.selectedItem.minimumLevel" placeholder="Minimum Level" autocomplete="off">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <label>Re Order Level:</label>
                      <div>
                        <input class="form-control" type="text" name="reOrderLevel" value="" id="reOrderLevel" #name="ngModel" [(ngModel)]="itemDetailService.selectedItem.reOrderLevel" placeholder="Re-Order Level" autocomplete="off">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <label>Maximum Level:</label>
                      <div>
                        <input class="form-control" type="text" name="maximumLevel" value="" id="maximumLevel" #name="ngModel" [(ngModel)]="itemDetailService.selectedItem.maximumLevel" placeholder="Maximum Level" autocomplete="off">
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-10">
                      <label>Date:</label>
                      <div>
                        <input class="form-control" type="date" name="date" value="" id="date" #name="ngModel" [(ngModel)]="itemDetailService.selectedItem.date">
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <button type="submit" class="btn btn-success" id="newItemSaveBtn" [disabled]="!itemDetailForm.form.valid" (click)="modalRef.hide()">Save Item</button>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                      <button type="button" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal" (click)="modalRef.hide(); resetForm(itemDetailForm)">Cancel</button>
                      <button type="button" class="btn btn-warning" id="resetbutton" data-toggle="modal" data-target="#myModal" (click)="resetForm(itemDetailForm)">Reset</button>
                    </div>
                  </div>
              </form>
            </div>
          </div>
      </ng-template>

      <!--Modal for confirming the delete item-->
      <ng-template #templateConfirmD id="confirmDeleteModal">
        <div class="modal-body" id="confirmModalBody">
          <div class="row">
            <span style="color: tomato;"><i class="far fa-question-circle fa-5x"></i></span>
          </div>
          <div class="row" style="text-align: center">
            <h3>Are You Sure ?</h3>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <button class='btn btn-success' type="button" (click)="onDelete(itemDetailForm); closeConfirmDeleteModal()">Confirm</button>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
              <button type="button" class='btn btn-warning' (click)="closeConfirmDeleteModal()">Cancel</button>
            </div>
          </div>
        </div>
      </ng-template>

      <!--//////////Modal for the edit re oder level//////////////-->
      <ng-template #templateEditROL id="rolModal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title pull-center" id="myModalLabel"><i class="fas fa-long-arrow-alt-up"></i><i class="fas fa-long-arrow-alt-down"></i><br><label>New Re Order Level</label></h4>
        </div>
              <!--modal body-->
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <input type="text" name="editRol" value="" id="rolInputField" #editROL="ngModel" [(ngModel)]="newROL" required>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-8">
              <button type="button" class="btn btn-success" id="rolSaveBtn" (click)="onEditROL() ; closeSetRolModal()">Set New</button>
              <button type="button" class="btn btn-default" id="rolCancelBtn" (click)="closeSetRolModal()">Cancel</button>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #templateIssueItemModal>
        <div class="modal-header">
          <h4 class="modal-title pull-center">Enter Issue Amount</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <label style="text-align: center">{{issueOne.itemName}} :</label>
              <input type="text" id="issueInputField" name="quantity" #quantity="ngModel" [(ngModel)]="newQuantity" placeholder="">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-success" id="issueConfirmBtn" (click)="setIssueItem() ; closeIssueModal()" [style.display]="newQuantity > 0 ? '' : 'none'">Confirm</button>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-warning" id="issueCancelBtn" (click)="closeIssueModal()">Cancel</button>
            </div>
          </div>
        </div>
      </ng-template>

        <ng-template #templateViewItemModal>
          <div class="modal-header" id="viewModal">
            <h3>{{viewItem.itemname}}</h3>
          </div>
          <div class="modal-body">
            <div class="card">
              <div class="card-body">
                <div class="row" style="text-align: center">
                  <div class="col-md-6">
                    <label>Item Code:</label>
                    <input type="text" value="{{viewItem.itemCode}}" readonly="true">
                  </div>
                  <div class="col-md-6">
                    <label>Item Category:</label>
                    <input type="text" value="{{viewItem.category}}" readonly="true">
                  </div>
                </div>
                <br>
                <div class="row" style="text-align: center">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <label>Description:</label>
                    <input type="text" value="{{viewItem.description}}" readonly="true">
                  </div>
                </div>
                <br>
                <div class="row" style="text-align: center">
                  <div class="col-md-6">
                    <label>Latest Update Date:</label>
                    <input type="text" value="{{viewItem.latestUpdate}}" readonly="true">
                  </div>
                  <div class="col-md-6">
                    <label>Item Quantity:</label>
                    <input type="text" value="{{viewItem.quantity}}  {{viewItem.unitScale}}" readonly="true">
                  </div>
                </div>
                <br>
                <div class="row" style="text-align: center">
                  <div class="col-md-4">
                    <label>Minimum Level:</label>
                    <input type="text" style="width: 75px" value="{{viewItem.minimumLevel}} {{viewItem.unitScale}}" readonly="true">
                  </div>
                  <div class="col-md-4">
                    <label>Re Order Level:</label>
                    <input type="text" style="width: 75px" value="{{viewItem.reOrderLevel}} {{viewItem.unitScale}}" readonly="true">
                  </div>
                  <div class="col-md-4">
                    <label>Maximum Level:</label>
                    <input type="text" style="width: 75px" value="{{viewItem.maximumLevel}} {{viewItem.unitScale}}" readonly="true">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
    </div>
  </div>
</div>
