
/*tbody {
  font-size: 20px;
  background-color: rgb(179, 179, 179);
}
th {
  width: 60px;
  max-width: 60px;
  font-size:20px;
  text-align: center;
  background-color: #ffffff;
}
th,td {
  vertical-align: middle;
}*/
th {
  width: 60px;
  max-width: 60px;
  font-size: 18px;
  text-align: center;
  background-color: rgb(212, 209, 209);
}
tbody {
  font-size: 15px;
  background-color: white;
}

.modal-header {
  background-color: #6499c2;
  /*color: white;*/
  text-align: center;
}

#modId {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 150%;
}


.modal-body {
  background-color: #c8d2da;
  /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
}

.info-box.icon {
  background-color: #7cc7f3;
}
#rolModal {
  border-radius: 25px;
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  border-radius: 25px !important;
}
#rolSubmitBtn,#newItemSaveBtn {
  border-color: rgb(16, 46, 16);
}

#rolInputField {
  border-radius: 10px;
  border-color: #5d809b;
  text-align: center;
  font-size: 25px;
  width: 100px;
}

input, select {
  border-radius: 5px;
  border-color: #5d809b;
  height: 40px;
  font-size: 20px;
}

label {
  font-size: 15px;
}

#issueBtn {
  background-color: #5d809b;
  color: white;
}

#issueInputField {
  width: 100px;
  text-align: center;
}
