<div class="a">
  <div class ="container-fluid">
      <h2>Food List</h2>
      <br>
      <br>
  <div class="panel-group" id="accordion">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" (click)="setLists()">
            Set menu   </a><i class="fa fa-cutlery"></i>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
              <div class="list-group">
                  <div *ngFor="let item of setMenuList" class="">
                      <a href="" [routerLink]="['recipie']"  class="list-group-item" data-toggle="tooltip" title="Click to view recipe">{{item.productName}}</a>
                    </div> 
                  <button (click)="openModal(template)"><i class="fa fa-plus"></i></button>
                </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" (click)="setLists()">
            Short Eats   </a><i class="fa fa-bowling-ball"></i>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
              <div class="list-group">
                  <div *ngFor="let item of shortEatsList" class="">
                  <a href="" [routerLink]="['recipie']"  class="list-group-item" data-toggle="tooltip" title="Click to view recipe">{{item.productName}}</a></div>                               
                <button (click)="openModal(template)"><i class="fa fa-plus"></i></button>
                </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"(click)="setLists()">
            Desserts    </a><i class="fa fa-glass-martini"></i>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="list-group">
              <div *ngFor="let item of dessertList" class="">
                <a href="" [routerLink]="['recipie']"  class="list-group-item" data-toggle="tooltip" title="Click to view recipe">{{item.productName}}</a></div> 
        <button (click)="openModal(template)"><i class="fa fa-plus"></i></button>
      </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="panel panel-warning">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" (click)="setLists()">
              Salad   </a><i class="fa fa-seedling"></i>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                  <div *ngFor="let item of saladList" class="">
                      <a href="" [routerLink]="['recipie']"  class="list-group-item" data-toggle="tooltip" title="Click to view recipe">{{item.productName}}</a></div> 
                  <button (click)="openModal(template)"><i class="fa fa-plus"></i></button>
                </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="panel panel-danger">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" (click)="setLists()">
              Soup</a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                    <div *ngFor="let item of soupList" class="">
                        <a href="" [routerLink]="['recipie']"  class="list-group-item" data-toggle="tooltip" title="Click to view recipe">{{item.productName}}</a></div> 
                  <button (click)="openModal(template)"><i class="fa fa-plus"></i></button>
                </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" (click)="setLists()">
              Beverages  </a><i class="fa fa-coffee"></i>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                    <div *ngFor="let item of beveragesList" class="">
                        <a href="" [routerLink]="['recipie']"  class="list-group-item" data-toggle="tooltip" title="Click to view recipe">{{item.productName}}</a></div> 
                  <button (click)="openModal(template)"><i class="fa fa-plus"></i></button>
                </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" (click)="setLists()">
              Other</a>
            </h4>
          </div>
          <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                    <div *ngFor="let item of otherList" class="">
                        <a href="" [routerLink]="['recipie']"  class="list-group-item" data-toggle="tooltip" title="Click to view recipe">{{item.productName}}</a></div> 
                  <button (click)="openModal(template)"><i class="fa fa-plus"></i></button>
                </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  
  </div>
 <!-- start of modal --> 
  <ng-template #template>
    <div class="row">
      <div class="modal-header col-sm">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <h4 class="modal-title pull-center" id="myModalLabel"><br><i class="fas fa-plus-square fa-3x"></i><label id="modId"> Add New Food item</label></h4>
        </div>
        <div class="col-sm-2">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
          <i class="fas fa-window-close fa-2x"></i>
          </button>
        </div>

      </div>
    </div>
    <!--modal body-->
<div class="row">
<div class="modal-body">
  <form class="form-horizontal" >
    
    
    <div class="form-group row">
      <label class="col-sm-3 control-label">Date:</label>
      <div class="col-sm-9">
            <input class="form-control" type="date" name="latestUpdate" value="" id="date" #name="ngModel" [(ngModel)]="date">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label">Product Name:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" name="productName"  [(ngModel)]="productName" required>
      </div>
    </div>
    
    <div class="form-group row">
      <label class="col-sm-3 control-label">Category:</label>
      <div class="col-sm-9">
        <select class="form-control" type="text" id="foodCategory" name="foodCategory"  [(ngModel)]="foodCategory">
          <option>setMenu</option>
          <option>shortEats</option>
          <option>desserts</option>
          <option>salad</option>
          <option>soup</option>
          <option>beverages</option>
          <option>other</option>
        </select>
      </div>
    </div>
    
    <div class="form-group row">
      <label class="col-sm-3 control-label">Description:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" name="description" id="descripiton"  [(ngModel)]="description">
      </div>
    </div>
        
        
        
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <input type="submit" class="btn btn-success" value="Add product" (click)="addProduct()">
        <input type="submit" class="btn btn-warning" value="Create Recipe" (click)="createRecipe()">
      </div>
    </div>
  </form>
  </div>
  </div>
</ng-template>   
<!-- end of modal -->  

  
  
  
                      