<div class="a">
  <div class ="container-fluid">
      <h2>Food List</h2>
      <br>
      <br>
  <div class="panel-group" id="accordion">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" (click)="setLists()">
            Set menu   </a><i class="fa fa-cutlery"></i>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
              <div class="list-group">
                  <div *ngFor="let item of setMenuList" class="">
                      <a href="#" class="list-group-item">{{item.productName}}</a></div> 
                  <button href="#" ><i class="fa fa-plus"></i></button>
                </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" (click)="setLists()">
            Short Eats   </a><i class="fa fa-bowling-ball"></i>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
              <div class="list-group">
                  <div *ngFor="let item of shortEatsList" class="">
                  <a href="#" class="list-group-item">{{item.productName}}</a></div>                               
                <button href="#" ><i class="fa fa-plus"></i></button>
                </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"(click)="setLists()">
            Desserts    </a><i class="fa fa-glass-martini"></i>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="list-group">
              <div *ngFor="let item of dessertList" class="">
                <a href="#" class="list-group-item">{{item.productName}}</a></div> 
        <button href="#" ><i class="fa fa-plus"></i></button>
      </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="panel panel-warning">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" (click)="setLists()">
              Salad   </a><i class="fa fa-seedling"></i>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                  <div *ngFor="let item of saladList" class="">
                      <a href="#" class="list-group-item">{{item.productName}}</a></div> 
                  <button href="#" ><i class="fa fa-plus"></i></button>
                </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="panel panel-danger">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" (click)="setLists()">
              Soup</a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                    <div *ngFor="let item of soupList" class="">
                        <a href="#" class="list-group-item">{{item.productName}}</a></div> 
                  <button href="#" ><i class="fa fa-plus"></i></button>
                </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" (click)="setLists()">
              Beverages  </a><i class="fa fa-coffee"></i>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                    <div *ngFor="let item of beveragesList" class="">
                        <a href="#" class="list-group-item">{{item.productName}}</a></div> 
                  <button href="#" ><i class="fa fa-plus"></i></button>
                </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" (click)="setLists()">
              Other</a>
            </h4>
          </div>
          <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                    <div *ngFor="let item of otherList" class="">
                        <a href="#" class="list-group-item">{{item.productName}}</a></div> 
                  <button href="#" ><i class="fa fa-plus"></i></button>
                </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  
  </div>
  
      
  
  
  
  
                      