.info-box-content:hover {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.info-box {
  border: 2px solid;
  border-color: #5d809b;
}
h2{
  font-weight: bold;
  font-size: 40px;
}

fieldset{
    padding: 10px 140px 10px 140px;
    border: 1px solid #4169E1;
    }
legend{
    text-align: center;

}
form[name = "unitCost"]{
    float: left;
}

form[name = "addRecipie"]{
    float: right;
}

input[type = "submit"]{

    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.panel-title{
	text-align: center;
}
h2{
	text-align: center;
}

.modal-header {
    background-color: #5d809b;
    color: white;
    text-align: center;
  }

  #modId {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }

  .btn.btn-outline-info:hover {
    box-shadow: 0 12px 16px 0 rgba(10, 10, 10, 0.24), 0 17px 50px 0 rgba(0,0,0,0.5);
  }
  .btn.btn-outline-success:hover {
    box-shadow: 0 12px 16px 0 rgba(66, 223, 46, 0.24), 0 17px 50px 0 rgba(0,0,0,0.5);
  }

  #mybutton {
    background: green;
    color: white;
    height: 50px;
    border: 1px solid;
  }
  .modal-header {
    background-color: #6499c2;
    text-align: center;
    font-size: 100px;
    color: black;
  }


  .modal-body {
    background-color: #c8d2da;
  }

  .info-box.icon {
    background-color: #7cc7f3;
  }

  input, select {
    border-radius: 5px;
    border-color: #5d809b;
    height: 40px;
    font-size: 20px;
  }

  label {
    font-size: 15px;
  }

  #cutleryIcon:hover {
    color: rgb(241, 103, 10);
  }

  #stroopwafelIcon:hover{
    color: yellow;
  }

  #dessertsIcon:hover {
    color: rgb(95, 9, 121);
  }

  #beveragesIcon:hover {
    color:rgb(153, 51, 99);
  }

  #soupIcon:hover {
    color:rgb(14, 122, 108);
  }

  #saladIcon:hover {
    color:rgb(15, 95, 15);
  }

  #otherIcon:hover {
    color: #5d809b;
  }

  #addProductBtn {
    color: white;
    background-color: green;
    border: 1px solid;
  }

  #addProductBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(66, 223, 46, 0.24), 0 17px 50px 0 rgba(0,0,0,0.5);
  }

  #cancelProductBtn {
    color: white;
    background-color: rgb(150, 153, 150);
    border: 1px solid;
    width:100px;
  }

  #cancelProductBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(32, 77, 88, 0.24), 0 17px 50px 0 rgba(0,0,0,0.5);
  }
